.register{
    height: calc(100vh-50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    background-size: cover;
    align-items: center;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm>label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal ;
    border: none;
    padding: 5px;
    color: aliceblue;border-radius: 4px;
}
.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color:lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: aliceblue;
    border-radius: 4px;
}